<a href="https://colab.research.google.com/github/ranjinivenkatesh/END_Assignments/blob/main/Assignment8_PythonPrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



program-1

In [ ]:

# write a python program to add two numbers
num1 = 1.5
num2 = 6.3
sum = num1 + num2
print(f'Sum: {sum}')

Sum: 7.8

Program-2

In [ ]:

# write a python function to add two user provided numbers and return the sum
def add_two_numbers(num1, num2): 
     sum = num1 + num2  
     return sum

Program-3

In [ ]:

# write a program to find and print the largest among three numbers
num1 = 10
num2 = 12
num3 = 14
if (num1 >= num2) and (num1 >= num3): 
    largest = num1
elif (num2 >= num1) and (num2 >= num3):  
    largest = num2
else:   largest = num3
print(f'largest:{largest}')

largest:14

Progam-4

In [ ]:

#write program to find numbers divisible betwen 2000 and 3200
def divisibility(number1, number2,divisor):
  for i in range(number1,number2):
    if (i%divisor == 0):
        print(i,end=',')
print("\b")



Progam-5

In [ ]:

#write a progream to find the factorial of a number 
def fact(n):
  if(n==0):
    return 1
  else:
    return(n*fact(n-1))

In [ ]:
n = fact(4)
print(n)

24

Program-6

In [ ]:
#write a program to swap two numbers
def swap(numb1, numb2):
  numb1,numb2 = numb2, numb1

In [ ]:
x=4
y=6
swap(x,y)
print("x=",x)
print("y=",y)

numb1 = 6
numb2 = 4
x= 4
y= 6

Program-7

In [ ]:
#write a program to check if number is prime
def primenumber(num):
  if num > 1:
    for i in range(2,num+1):
       if (num % i) == 0:
           break
    if(i==num):
      return True
    else:
      return False

In [ ]:
x = primenumber(43)
print(x)

True

Program-8

In [ ]:
#write a program to reverse a list
def reverse_list(list):
  return(list[::-1])

In [ ]:
list=[3,4,6,8]
print(reverse_list(list))

[8, 6, 4, 3]

Program-9

In [ ]:
#write a function to sort list
def sort_list(list):
  list.sort()
  return list

In [ ]:
list = ["hello","world","apple","banana","lemon"]
print(sort_list(list))
list

['apple', 'banana', 'hello', 'lemon', 'world']

['apple', 'banana', 'hello', 'lemon', 'world']

Program - 10

In [ ]:
#write a program to find the largest element in a list
def list_max(list):
  list.sort()
  return list[-1]

In [ ]:
list = [99,56,34,101,34]
print(list_max(list))

101

Program -11

In [ ]:
#write a program to concatenate two lists
def list_concat(list1,list2):
  res_list = [y for x in [list1, list2] for y in x] 
  return res_list

In [ ]:
list1 = ["happy Deepavali to "]
list2=["Everyone in this world"]
print(list_concat(list1,list2))

['happy Deepavali to ', 'Everyone in this world']

Program -12

In [1]:
#write a program to split a string
def multiply_numbers(int1,int2):
  return(int1 * int2)

In [3]:
int1=4;
int2=8;
int3=multiply_numbers(int1,int2)
print(int3)

32

Program-13

In [ ]:
#write a program to find a word in string
def find_word(string,word):
  index = string.find(word)
  if(index == -1):
    return False
  else:
    return True

In [ ]:
string = "Today is a very cool day"
word = "bad"
print(find_word(string,word))

False

Program 14

In [ ]:
#write a program to find the length of the list
def list_len(lst):
  return len(lst)

In [ ]:
names=["ranjini", "Subodh", "Bharathi","Pratham","Pratheek"]
print(list_len(names))

5

Program 15

In [ ]:
#write a program to sort the list in reverse order
def sort_reverse(lst):
  lst.sort(reverse=true)
  return lst

In [ ]:
lst = ["67,89,23,45,2,789,29"]
rev_list = sort_reverse(lst)

Program 16

In [ ]:
#write a program to print even numbers in a list

In [ ]:
def list_even_numbers(list):
  even_numbers = [num for num in list if num%2 == 0]
  return even_numbers

In [ ]:
lst = [23,45,67,88,21,34,12,0]
print(list_even_numbers(lst))

[88, 34, 12, 0]

Program 17

In [ ]:
#Write a program to eliminate duplicates in a list
def remove_duplicates(lst):
  duplicates_removed =[]
  for i in lst:
    if i not in duplicates_removed:
      duplicates_removed.append(i)
  return duplicates_removed

In [ ]:
#write a program to eliminate duplicates in list using list comprehension
def remove_duplicates_list_comprehension(lst):
  removed=[]
  [removed.append(x) for x in lst if x not in removed]
  return removed

In [ ]:
lst = [4,67,8,4,32,3,2,7,67]
print(remove_duplicates(lst))

[4, 67, 8, 32, 3, 2, 7]

In [ ]:
print(remove_duplicates_list_comprehension(lst))

[4, 67, 8, 32, 3, 2, 7]

Program 18

In [ ]:
#write a program to find the smallest number in a list
def find_smallest(lst):
  return(min(lst))

In [ ]:
lst = [23,43,12,8,345,675,2345,32,4,5,56]
print(find_smallest(lst))

4

Program 19

In [ ]:
#write a program to convert list to string
def list_to_string(lst):
  list_str = ''.join(str(x) for x in lst)
  return list_str

In [ ]:
lst = ["abc","cde","efg","ghi"]
print(list_to_string(lst))

abccdeefgghi

Program 20

In [ ]:
#write a program to double each element in the list
def addition(n):
  return n+n
def double_element(lst):
  result = map(addition,lst)
  return result

In [ ]:
def double_element_using_lambda(lst):
  result = map(lambda x:x+x,lst)
  return result

In [ ]:
lst=['a','b','c','d']
print(list(double_element(lst)))

['aa', 'bb', 'cc', 'dd']

In [ ]:
print(list(double_element_using_lambda(lst)))

['aa', 'bb', 'cc', 'dd']

Program 21

In [ ]:
#write a program to add corresponding elemnts of  lists using map and lambda
def add_lists(list1, list2):
  add_list = map(lambda x,y:x+y,list1,list2)
  return(list(add_list))

In [ ]:
lst1=[4,5,6]
lst2=[1,2,3]
print(add_lists(lst1,lst2))

[5, 7, 9]

Program 22

In [ ]:
#write a program to listfy the strings individually
def listify_strings(lst):
  lst = map(list,lst)
  return list(lst)

In [ ]:
lst=["hello","world","good","day"]
print(listify_strings(lst))

[['h', 'e', 'l', 'l', 'o'], ['w', 'o', 'r', 'l', 'd'], ['g', 'o', 'o', 'd'], ['d', 'a', 'y']]

Program 23

In [ ]:
#write a program to replace one string with another string
def string_replace(str,old_string,new_string):
  print(old_string)
  print(new_string)
  print(str)
  new_str = str.replace("summer","winter")
  print(new_str)
  return new_str

In [ ]:
str = "Its a wonderful summer this year"
print(string_replace(str,"summer","winter"))

summer
winter
Its a wonderful summer this year
Its a wonderful winter this year
Its a wonderful winter this year